.Rproj.user
.Rhistory
.RData
.Ruserdata
2019-MBLand.Rproj

# Raw Data (>7GB)
Miseq0372_Whitaker-Hawkes_fastq.tar
RawSq/

# folders
intermediate/
figures/

# massive RRPP file
data/MBLand_landscape_RRPP_sppComparison.RData
data/MBLand_landscape_RRPP_spp_Sdiv.RData
data/MBLand_landscape_RRPP_crn.RData
data/MBLand_landscape_RRPP_wht.RData
data/MBLand_landscape_RRPP_soy.RData
data/MBLand_landscape_RRPP_swch.RData

# all lulu log files
lulu.log*

# all rmd html output
*.html